@use '/src/styles/constants/colors';
@use '/src/styles/constants/levels';
@use '/src/styles/mixins/flexbox';
@use '/src/styles/mixins/position';

.dropDown {
  margin-bottom: 50px;

  h1 {
    display: block;
    color: colors.$BIG_TITLE;
    font-weight: 600;
    font-size: 32px;
  }
}

.coinContainer {
  li {
    width: 35%;
    padding: 15px;
    background: colors.$WHITE;
  }

  li:hover {
    cursor: pointer;
    background: colors.$BLUE;
  }
}

.coinContainerNone {
  display: none;
}
